<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Anagram Tester</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="~/css/styles.css">
</head>
  <body>
    <div class="container well">
      <h1>Test An Anagram</h1>
      <form class="form" action="/" method="post">
        <div class="row">
          <input type="text" name="our-word" placeholder="Enter a Keyword">
        </div>
        <div class="row">
          <input type="text" name="their-list" placeholder="Enter a List of Words">
        </div>
        <div class="row">
          <button type="submit" class="btn btn-info" name="button">GO!</button>
        </div>
      </form>
      @for (var i = 0; i < Model.Count; i++)
      {
        <h3>@Model[i]</h3>
      }
    </div>
  </body>
</html>
